@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');

.victor-header{
    text-align:center;
    margin-top:-50px;
}

.victor-header img{
    border-radius:50%;
    padding:3px;
    border-top-color:hsl(30, 12%, 20%);
    border-left-color:hsl(29, 80%, 70%);
    border-right-color:hsl(29, 80%, 70%);
    border-style:solid;
    width:150px;
    height:150px;
    box-shadow:1px 2px 30px 0px gray;
    object-fit: cover;
    border-width:2px;
}
h1{
    text-align: center;
    font-family:'Kumbh Sans';
    font-weight: 700;
    font-size:18px;
}
.wrapper{
    width:350px;
    border-radius:15px;
    padding-bottom:20px;
    box-shadow:1px 2px 35px 0px hsl(30, 12%, 20%);
    background-color:hsl(33, 8%, 77%);
    background-color: rgba(255, 255, 255, 0.481);
    backdrop-filter: blur(10px);
    border: rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

  
h2{
    text-align: center;
    border-bottom-style:solid;
    border-bottom-color:gray;
    border-bottom-width:1px;
    padding-bottom:30px;
    font-size:15px;
    color:hsl(30, 12%, 20%);
    font-weight:200;
   font-family:'Kumbh Sans';
}
.followers-wrapper{
    text-align: center;
    margin-right:230px;
    margin-top:25px;
    font-size:18px;
   font-weight:700;
   font-family:'Kumbh Sans';
}
.likes-wrapper{
    text-align: center;
    margin-top:-82px;
    font-size:18px;
    font-weight:700;
    font-family:'Kumbh Sans';

}
.photos-wrapper{
    text-align: center;
    margin-left:230px; 
    margin-top:-82px;
    font-size:18px;
    font-weight:700;
    font-family:'Kumbh Sans';
}
.age{
    color:hsl(30, 12%, 20%);
    font-family:'Kumbh Sans';
    font-size:15px;
}
body{
    display: grid;
    place-items:center;
    margin:0;
    height:100vh;  
    background-color:hsl(29, 8%, 65%);
    background-image:url(bg-pattern-top.svg),url(bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position:right 48vw bottom 37vh,left 50vw top 45vh;
}

.followers{
   font-size:18px;
   font-weight:700;
   font-family:'Kumbh Sans';
}
.followers-footer{
    font-size:15px;
    color:black;
    font-weight:400;
   font-family:'Kumbh Sans';
}
.likes-footer{
    font-size:15px;
    color:black;
    font-weight:400;
   font-family:'Kumbh Sans';
}
.photos-footer{
    font-size:15px;
    color:black;
    font-weight:400;
   font-family:'Kumbh Sans';
}
.card-header img{
    border-top-left-radius:15px;
    border-top-right-radius:15px ;
    width:350px;
}
html,body{
    overflow-x:hidden;
    max-width:100%;
}
@media(max-width:550px) {
    .card-header img{
        height:110px;
        width:275px;
    }
    .victor-header{
        margin-left:-3px;
        padding-top:15px;
    }
    .victor-header img{
        height:100px;
        border-width:2px;
        width:100px;
    }
    h1{
        margin-left:-3px;
    }
    h2{
        margin-left:-3px;
    }
    .followers-wrapper{
        margin-left:1px;
        margin-top: -0px;
        margin-top:30px;
    }
    .followers-footer{
        margin-left:-10px;
    }
    .likes-wrapper{
        margin-left:10px;
        margin-top:-80px;
    }
    .likes-footer{
        margin-left:-10px;

    }
    .photos-wrapper{
        margin-left:160px;
    }
    .body-wrapper{
       margin-left:42px;
    margin-right:42px;
    }
    .wrapper{
        width:275px;
    }
    }